<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RealTimeArousalDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BinaryFile" value="E:/Projects/Rage/GS20160125_115001.dat" />
    <add key="LogFile" value="C:/Users/ddessy/log.txt" />
    
    <add key="MinAbsoluteArousalArea" value="700" />
    <add key="MinAverageArousalArea" value="700" />
    <add key="MaxAbsoluteArousalArea" value="5000" />
    <add key="MaxAverageArousalArea" value="5000" />
    
    <add key="MinAbsoluteTonicAmplitude" value="-0.05" />
    <add key="MinAverageTonicAmplitude" value="-0.05" />
    <add key="MaxAbsoluteTonicAmplitude" value="3.12" />
    <add key="MaxAverageTonicAmplitude" value="3.12" />
    
    <add key="NumberParticipants" value="1" />
    
    <add key="CalibrationMinArousalArea" value="-1" />
    <add key="CalibrationMaxArousalArea" value="-1" />
    <add key="CalibrationMinTonicAmplitude" value="100" />
    <add key="CalibrationMaxTonicAmplitude" value="-100" />
    
    <add key="MinArousalArea" value="-1" />
    <add key="MaxArousalArea" value="-1" />
    <add key="MinTonicAmplitude" value="100" />
    <add key="MaxTonicAmplitude" value="-100" />

    <add key="DefaultTimeWindow" value="8" />
    <add key="SamplerateLabel" value="6" />
    <add key="Samplerate" value="20" />
    <add key="ArousalLevel" value="7" />
    
  </appSettings>
  <userSettings>
    <RealTimeArousalDetection.Properties.Settings>
      <setting name="MinAbsoluteArousalArea" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="MinAverageArousalArea" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="MaxAbsoluteArousalArea" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="MaxAverageArousalArea" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="MinAbsoluteTonicAmplitude" serializeAs="String">
        <value>-0.05</value>
      </setting>
      <setting name="MinAverageTonicAmplitude" serializeAs="String">
        <value>-0.05</value>
      </setting>
      <setting name="MaxAbsoluteTonicAmplitude" serializeAs="String">
        <value>3.12</value>
      </setting>
      <setting name="MaxAverageTonicAmplitude" serializeAs="String">
        <value>3.12</value>
      </setting>
      <setting name="NumberParticipants" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>C:/Users/ddessy/log.txt</value>
      </setting>
      <setting name="CalibrationMinArousalArea" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CalibrationMaxArousalArea" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="CalibrationMaxTonicAmplitude" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="MinArousalArea" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MaxArousalArea" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MinTonicAmplitude" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MaxTonicAmplitude" serializeAs="String">
        <value>-100</value>
      </setting>
      <setting name="DefaultTimeWindow" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CalibrationMinTonicAmplitude" serializeAs="String">
        <value>100</value>
      </setting>
    </RealTimeArousalDetection.Properties.Settings>
  </userSettings>
</configuration>


