<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RealTimeArousalDetection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BinaryFile" value="E:/Projects/Rage/GS20160125_115001.dat" />
    <add key="LogFile" value="C:/Users/ddessy/log.txt" />
  </appSettings>
  <userSettings>
    <RealTimeArousalDetection.Properties.Settings>
      <setting name="MinAbsoluteArousalArea" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MinAverageArousalArea" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MaxAbsoluteArousalArea" serializeAs="String">
        <value>1326</value>
      </setting>
      <setting name="MaxAverageArousalArea" serializeAs="String">
        <value>1326</value>
      </setting>
      <setting name="MinAbsoluteTonicAmplitude" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="MinAverageTonicAmplitude" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="MaxAbsoluteTonicAmplitude" serializeAs="String">
        <value>0.082</value>
      </setting>
      <setting name="MaxAverageTonicAmplitude" serializeAs="String">
        <value>0.082</value>
      </setting>
      <setting name="NumberParticipants" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LogFile" serializeAs="String">
        <value>C:/Users/ddessy/log.txt</value>
      </setting>
    </RealTimeArousalDetection.Properties.Settings>
  </userSettings>
</configuration>


